# --- Acquisizione e Segnali ---
pylsl==1.16.0
mne==1.12.1
pyEDFlib==0.1.42
pyxdf==1.16.4
neurokit2==0.2.7

# --- Matematica e Machine Learning ---
numpy==1.26.4
scipy==1.13.0
scikit-learn==1.4.2
sktime==0.28.0

# --- Audio e UI ---
pygame==2.5.2
matplotlib==3.8.4
pyaudio

# --- Utility dal tuo file originale ---
certifi
charset-normalizer
contourpy
cycler
decorator
packaging
requests
tqdm